<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Cadastro de Vacina</title>
</head>

<body>
  <!-- conteudo principal -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col w-full">
    <h1 class="text-2xl mt-10 ml-10">Cadastro de Vacina</h1>

    <form th:hx-post="@{/vacinas/cadastrar}" hx-target="#main" hx-swap="outerHTML" th:object="${vacina}"
      class="mt-5 ml-10">
      <div th:replace="~{layout/fragments/forms::inputtext ('Nome', 'nome')}">...</div>
      <div th:replace="~{layout/fragments/forms::inputtext ('Descrição', 'descricao')}">...</div>

      <button type="submit"
        class="block py-3 px-4 items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none mt-5">Cadastrar</button>
    </form>
  </main>
  <!-- !conteudo principal -->
</body>

</html>